/* Basic Style */
.body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.eisenhower__matrix {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.eisenhower__matrix 
.eisenhower__matrix_img {
    width: 100%;
}

.eisenhower__matrix_more-inf {
    font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .eisenhower-matrix { 
      text-align: center;
  }
}
.centered-element {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.centered-element__task {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.centered-element__task-wrapper{
    display: flex;
}

ul {
    margin: 0;
    padding: 0px;
}

li, 
h3 {
    list-style: none;
}

input,
button{
    outline: none;
}

.btn {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.btn:hover {
    color: #3a3A3a;
}

/* Heading */

.centered-element__title{
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.centered-element__task-input {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #dDd;
    background: #FFF;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.centered-element__task-input:focus {
    color: #333;
}

/* New Task */

.centered-element__new-task-label {
    display: block;
    margin: 0 0 20px;
}

#new-task {
    width: 318px;
}

.centered-element__task-item > * {
    vertical-align: middle;
}

/* Task list */

.centered-element__task-item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centered-element__task-item > .centered-element__check-complete {
    margin: 0 10px;
}

.centered-element__task-item > .centered-element__task {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.centered-element__task-item > .centered-element__task-input {
    width: 226px;
}

.btn.delete 
.remove-img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.btn.delete 
.remove-img:hover {
    transform: rotateZ(0);
}

/* Completed */

#completed 
.centered-element__task {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.centered-element__task-list 
.centered-element__task-item 
.centered-element__task-input {
    display: none;
}

.centered-element__task-list 
.centered-element__task-item.edit-mode 
.centered-element__task-input {
    display: inline-block;
    width: 224px;
}

.centered-element__task-list 
.centered-element__task-item.edit-mode 
.centered-element__task-label {
    display: none;
}